<div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
    <div fxFlex class="table-component-holder mat-elevation-z4">
        <mat-toolbar class="table-header mat-primary">
            <h1 class="mat-headline center-align">Featured Table</h1>

            <button mat-raised-button class="back-btn" *ngIf="showList" (click)="getBackToTable()">Back to Table
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </mat-toolbar>

        <div *ngIf="showTable">
            <div class="example-header"  style="padding: 0 20px;">
                <mat-form-field floatPlaceholder="never" style="color: black; width: 90%;">
                    <label>
                        <input matInput label="Filter" #filter placeholder="Filter Data...">
                    </label>
                </mat-form-field>
            </div>

            <div class="table-container example-container mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matMultiSort multiTemplateDataRows>
                    <ng-container matColumnDef="Restaurant_Name">
                        <mat-header-cell *matHeaderCellDef>Restaurant Name</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.Restaurant_Name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Cuisines">
                        <mat-header-cell *matHeaderCellDef>Cuisines</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.Cuisines}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Average_Cost_for_two">
                        <mat-header-cell *matHeaderCellDef mat-multi-sort-header="Average_Cost_for_two">Average Cost for two</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.Average_Cost_for_two}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Has_Table_booking">
                        <mat-header-cell *matHeaderCellDef>Has Table booking</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.Has_Table_booking}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Has_Online_delivery">
                        <mat-header-cell *matHeaderCellDef>Has Online delivery</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.Has_Online_delivery}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Aggregate_rating">
                        <mat-header-cell *matHeaderCellDef mat-multi-sort-header="Aggregate_rating">Rating</mat-header-cell>
                        <mat-cell *matCellDef="let row" [matTooltip]="row.Rating_text" [matTooltipPosition]="'left'" [ngStyle]="{'color': row.Rating_color}">{{row?.Aggregate_rating}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Votes">
                        <mat-header-cell *matHeaderCellDef mat-multi-sort-header="Votes">Votes</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.Votes}}</mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="headerNames,sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: headerNames;" (click)="getSelectedData(row)"></mat-row>
                </mat-table>
                <mat-paginator #paginator
                               [length]="columnsToDisplay?.length"
                               [pageIndex]="0"
                               [pageSize]="10"
                               [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
        </div>

        <div class="mat-table">
            <ng-container *ngIf="showList">
                <div class="mat-header-row">
                    <div class="mat-header-cell">Key</div>
                    <div class="mat-header-cell">Value</div>
                </div>
                <div class="mat-row" *ngFor="let dta of selectedData | keyvalue">
                    <div class="mat-cell">{{dta.key}}</div>
                    <div class="mat-cell">{{dta.value}}</div>
                </div>
            </ng-container>
        </div>
    </div>
</div>


