<mat-toolbar   class="mat-elevation-z4">
	<button mat-icon-button (click)="sidenav.toggle();drawer.toggle();" *ngIf="matDrawerShow">
        <i class="material-icons app-toolbar-menu">menu </i>
    </button> 
    <button mat-icon-button (click)="sidenav.toggle();" *ngIf="!matDrawerShow">
        <i class="material-icons app-toolbar-menu">menu </i>
    </button>

    <span class="spacer"></span>

<!--    <button  mat-icon-button (click)="searchOpen = !searchOpen" fxHide="true" [fxHide.gt-xs]="false">-->
<!--        <i class="material-icons">search</i>-->
<!--    </button>-->

    <app-fullscreen></app-fullscreen>

    <app-user-menu [currentUser]="toolbarHelpers?.currentUser"></app-user-menu>

<!--     <button mat-icon-button (click)="sidebar.toggle();">-->
<!--        <i class="material-icons app-toolbar-menu">menu </i>-->
<!--    </button>-->
    
</mat-toolbar>
