<div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
  <div>
    <mat-form-field>
      <input matInput label="Filter" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="false" matTooltip="Download XLSX" class="fileDownload"
            (click)="downloadXLSX(columnsToDisplay)">
      <mat-icon>file_download</mat-icon>
    </button>
  </div>

  <div class="table-container example-container mat-elevation-z8">
    <mat-table [dataSource]="fundDataSource" matSort multiTemplateDataRows>

      <ng-container [matColumnDef]="raw" *ngFor="let raw of headerNames">
        <ng-container *ngIf="raw == 'Action'">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="actionClick(element)"> <mat-icon>details</mat-icon> </mat-cell>
        </ng-container>

        <mat-header-cell *matHeaderCellDef mat-sort-header> {{raw}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element[raw]}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="headerNames"></mat-header-row>
      <mat-row *matRowDef="let row; columns: headerNames;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
                   [length]="columnsToDisplay?.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>

